/* 
    Created on : 21.03.2018, 11:27:43
    Author     : mr. Anderson
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    font-size: 16px;
    color: #333;
}

#game {
    width: 150px;
    height: 150px;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    z-index: 2;
}

.block {
    width: 50px;
    height: 50px;
    /* Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне. */
    float: left;
    border: 1px solid #ffffff;
    background: #5bc0de;
    /* box-sizing - Применяется для изменения алгоритма расчета ширины и высоты элемента.
    Согласно спецификации CSS ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border). 
    Аналогично обстоит и с высотой блока. Свойство box-sizing позволяет изменить этот алгоритм, чтобы свойства width и height задавали размеры не контента, 
    а размеры блока.*/
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center; /* по горизонтали */ 
    vertical-align: middle; /* по вертикали */
    /* line-height Устанавливает межстрочный интервал текста, отсчет ведется от базовой линии шрифта */
    line-height: 50px;
    text-transform: uppercase;
}

.space {
  cursor: pointer;
}

#message {
    width: 140px;
    height: 140px;
    background: rgba(60, 212, 0, 0.60);
    position: absolute;
    top: 5px; /* Сдвигаем блок вверх */
    left: 5px; /* Сдвигаем блок вправо */
    z-index: 1;
    font-size: 25px;
    text-align: center;
    color: #333;
}

.btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-success {
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #3e8e41;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #3e8e41; 
    color: #fff;
}

.container {
    background-color: lightgrey;
    width: 200px;
    height: 400px;
    border: 25px solid #4CAF50;
    padding: 25px;
    margin: 25px;
}